body {
  font-family: "Inter", sans-serif;
}

/* 
container */
.container {
  width: min(100%, 1440px);
  margin: auto;
  padding: 0;
}

/* header */

header {
  background-color: #372d23;
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: inherit;
  width: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header-ul {
  display: flex;
  column-gap: 48px;
}
.active,
.inactive {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #fcc21b;
}
.active {
  color: #ed6c30;
}

/* ----- section1 ----- */

.section1 {
  height: 640px;
  position: relative;
  margin-top: 128px;
}
.section1-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
.title-box {
  width: 762px;
  height: 208px;
  border-radius: 10px;
  background-color: #fcc21b99;
  box-shadow: -4px -4px 6px 0px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 76px;
}
h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  text-shadow: 6px 2px 4px #000000;
  letter-spacing: 0%;
  text-align: center;
}

/* section2 */

.section2 {
  padding: 80px;
  justify-content: center;
  display: flex;
  gap: 40px;
  background-color: #ffe18a;
}
.cards {
  width: 100%;
  height: 400px;
  position: relative;
  /* display: flex;
  gap: 40px;
  justify-content: center; */
}
.pump1,
.pump2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-on-card {
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  text-align: center; */
}
/* Footer */
.site-footer {
  padding: 32px 80px;
  background-color: #372d23;
  display: flex;
  justify-content: space-between;
}
.footer-clicks a {
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #fcc21b;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 24px;
}
